 <tr id="<%= book.id %>">
    <td><%= book.title %></td>
    <td><%= book.year %></td>
    <td><%= book.author %></td>
    <td><%= book.description %></td>
    <td><%= book.price %></td>
    <!--<td><%= link_to "update", edit_book_path(book),remote: true %></td>-->
    <!--<td><%= link_to "(remove)", book, method: :delete,remote: true %></td>-->
    <td><%= link_to 'Destroy', book, method: :delete %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>

    <!--<td class='destroy'>Destroy</td>-->
    

</tr>     
