$('#edit_book form').remove();
$('#edit_book a').show();
$('table#books tbody').append("<%= j render @book %>");
$('#edit_book a').hide().parent().append("<%= j render 'form',book: @book %>")  
//$('#edit_book_<%= @book.id %>').appendTo('#books'); 

//$('#edit_book_<%= @book.id %>').appendTo('#books'); 
//$('#new-book a').hide().parent().append("<%= j render 'form',book: @book %>")  

