
<h1>Books</h1>

<table id="books">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Author</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @books%>
  </tbody>
</table>

<br>
<div id="new-book">

  <%= link_to 'New Book', new_book_path,remote: true %>

</div>
