// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
	background-color: #999999;
	border-spacing: 2px;
  

  
  width: 1000px;
  height: 240px;
}
td{
	border: 4px solid #000000;
}
th{
	border: 4px solid #000000;
}
button{
	border: 4px solid #000000;
}
p{
	border: 4px solid #000000;
	width: 500px;
  height: 20px;
  background-color: #9494b8;
}
strong{
	
	height: 80px;
}
